main {
    background-color: #06080D;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.App {
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 900px;
}